# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual environments
.venv/
venv/
ENV/
env/

# UV
.uv/

# Data files (usually too large for git)
# *.csv
# *.fa
# *.fasta
# Dataset/
# *.h5
# *.pkl

# IDEs
.vscode/
.idea/
*.swp
*.swo


# OS
.DS_Store
Thumbs.db

# Model files (if you generate any)
*.model
*.joblib
*.pkl


pfeature_standalone/dff6d2c3-9bb2-44b3-978a-188acb6a82d1
pfeature_standalone/*-*-*-*-*
Dataset/full_normalized_BSMOTE.csv
TempfilesAndOutput/predictions_output.csv
TempfilesAndOutput/predictions_output.csv
TempfilesAndOutput/predictions_output.csv

*.aac
*.dpc
*.rri
tempfile_out
nul
